GreysonBot/config.py
GreysonBot/*.session
GreysonBot/*.session-journal
GreysonBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
GreysonBot/modules/helper_funcs/temp.txt
GreysonBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
GreysonBot.session-journal
updates.txt
*.exe
